{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
</head>

<body>
        <div class="login-page">
            <div class="form">
              <form method="POST" class="login-form">
                {% csrf_token %}
                <p class="message"><strong>New Password</strong></p>
                {{form.new_password1}}
                <p class="message"><strong>Confirm New Password</strong></p>
                {{form.new_password2}}
                <ul>
                  <li class="ps_message">Your password can't be too similar to your other information.</li>
                  <li class="ps_message">Your password must contain at least 8 characters.</li>
                  <li class="ps_message">Your password can't be a commonly used password.</li>
                  <li class="ps_message">Your password can't be entirely numeric.</li>
                </ul>
                {% if messages %}
                  {% for message in messages %}
                    {print(message)}
                    <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                    <p class="er_message"><strong>{{message}}</strong></p>
                  {% endfor %}
                {% endif %}
                <button type="submit">Change Password</button>
              </form>
            </div>
        </div>
</body>
