{% load static %}
<!DOCTYPE html> 
<html lang="en"> 

  <head>
      <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
  </head>

  <body>
      <div class="login-page">
        <div class="form">
          <form method="POST" class="login-form">
            {% csrf_token %}
            <p class="message"><strong>Please enter your email address to search for your account.</strong></p>
            <p class="message"><strong>Email</strong></p>
            {{form.email}}
            {% if messages %}
              {% for message in messages %}
              <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
              <p class="er_message"><strong>{{message}}</strong></p>
              {% endfor %}
            {% endif %}
            <button type="submit">Reset</button>
          </form>
        </div>
      </div>
  </body>

</html>